extends layout

block content
  h1= title
  p Welcome to #{title}
  h  ProMeal Kitchen.
  h3 login page
  p This page allows customers to securely sign in or register using their email/phone and password.
    It may include options like "Forgot Password" and "Sign Up".
    The goal is to authenticate users before accessing the main features.
  h3 home page
  p The main landing page that introduces ProMeal Kitchen’s healthy food options.
    It can showcase featured meals, special offers, and quick navigation menus.
    Serves as the starting point for users after login.
  h3 customization page 
  p Here customers can customize their meals according to preferences (diet type, calories, ingredients).
    It may include checkboxes, dropdowns, and sliders for easy selection.
    This ensures every user gets a personalized meal plan.
  h3 customer care support
  p This page provides assistance for customer queries and complaints.
    It may include live chat, FAQs, contact forms, and support numbers.
    Helps build trust and maintain customer satisfaction.
  h3 setting 
  p contact 
    logout 
